@font-face{
    font-family: 'Akzidenz_Regular';
    src: url('tipografias/akzidenz-grotesk-bq-medium_2839-webfont.woff') format('woff');
    }
@font-face{
    font-family: 'Akzidenz_Medium';
    src: url('tipografias/akzidenz-grotesk-bq-medium_2839-webfont.woff') format('woff');
    }
@font-face{
    font-family: 'Akzidenz_Bold';
    src: url('tipografias/akzidenz-grotesk-bq-bold_2810-webfont.woff') format('woff');
    }

td{
    height: 51.8px;
    width: 70px;
    text-align: center;
    font-family: 'Akzidenz_Bold';
    color: white;
    font-size: 40px;
}
body{
    margin-top: 0%;
    background-color: #68297C;
}


#playBox{
    margin-left: 40%;
}

/* ClASES DONDE SE DEFINEN LOS COLORES DEL TABLERO */

.rosa{
    background-color: #ED3BA3;
}
.rojo{
    background-color: #C40064;
}

/* CLASES PARA LAS ESCALERAS, AQUI ACOMODA BIEN LA POSICION PARA QUE COINCIDA 
CON LA FUNCION DONDE DICE EN QUE CASILLA DEBES CAER EN EL CASO DE LAS ESCALERAS 
ES */
#l1{
    position: absolute;
    top: 41%;
    transform: rotate(38deg);
    left: 48%;
    width: 161px;
}
#l2{
    position: absolute;
    top: -2%;
    left: 62%;
    width: 200px;
    height: 533px;
    transform: rotate(-18deg);
}
#l3{
    position: absolute;
    transform: rotate(28deg);
    width: 161px;
    top: 0%;
    left: 40%;
    height: 228px;
}
#l4{
    height: 253px;
    width: 161px;
    position: absolute;
    top: 24%;
    left: 71.5%;
}
#l5{
    height: 171px;
    width: 161px;
    position: absolute;
    transform: rotate(32deg);
    top: 0%;
    left: 73%;
}

#player{
    color: #D4E05C;
    font-family: 'Akzidenz_Bold';
    font-size: 80px;
    position: absolute;
    top: 15%;
    left: 5%;
    text-align: left;
}
#choose_player{
    height: 80px;
    width: 280px;
    text-align: center;
    border: solid #D4E05C 8px;
    font-size: 28px;
    background-color: #C40064;
    color: #D4E05C;
    border-radius: 20px;
    margin-top: 14px;
    font-family: 'Akzidenz_Bold';
    cursor: pointer;
}
#color_choose{
    font-size: 24px;
    color: floralwhite;
    font-family: 'Akzidenz_Regular';
    position: absolute;
    left: 5%;
    top: 35%;
    visibility: hidden;
}

#color_choose select{
    height: 50px;
    width: 120px;
    font-size: 24px;
    font-family: 'Akzidenz_Regular';
    color: #68297C;
    background-color: floralwhite;
    border: solid 4px #D4E05C;
    border-radius: 20px;
    margin-top: 4%;
}
#play{
    HEIGHT: 70px;
    width: 300px;
    background-color: red;
    color: floralwhite;
    border: 4px solid floralwhite;
    border-radius: 40px;
    font-size: 40px;
    font-family: 'Akzidenz_Medium';
    position: absolute;
    top: 80%;
    left: 7%;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
}

#image_slide{
    position: absolute;
    top: 30%;
    width: 460px;
    height: 230px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 68px;
    border: solid 6px floralwhite;
}
#poster{
    height: 100%;
    width: 100%;
}
#dice{
    position: absolute;
    height: 100px;
    width: 100px;
    border: solid floralwhite 4px;
    top: 55%;
    left: 12%;
    visibility: hidden;
}
#dice img{
    height: 100%;
    width: 100%;
}

/*#color_box{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: solid black 4px;
    top: 73.6%;
    left: 26%;
    position: absolute;
    z-index: -1;
    background-color: rgb(252, 195, 81);
    visibility: hidden;*/